/*------------------------------------------------------------------
Common Stylesheet

Project:   Theme Title
Build:     Bootstrap 4 
Author:    Electronthemes
Author URL: https://electronthemes.com/

-------------------------------------------------------------------*/

/* ----------------------------------------------------------------
    Preloader Coding Start
-----------------------------------------------------------------*/
@font-face {
    font-family: 'Avenir';
    src: url('assets/fonts/Avenir-Black.woff2') format('woff2'),
        url('assets/fonts/Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Sailec';
    src: url('assets/fonts/Sailec-Regular.woff2') format('woff2'),
        url('assets/fonts/Sailec-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('assets/fonts/Sailec-Light.woff2') format('woff2'),
        url('assets/fonts/Sailec-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}



@font-face {
    font-family: 'Sailec';
    src: url('assets/fonts/Sailec-Medium.woff2') format('woff2'),
        url('assets/fonts/Sailec-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Regular.woff2') format('woff2'),
        url('Sailec-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('assets/fonts/AvenirNextCondensed-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/AvenirNextCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}


body.preload-site{
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#preloader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
}
.preloader-spinner{
    background: url("assets/img/preloader.gif")no-repeat scroll center center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    display: block;
    width: 64px;
    height: 64px;
}
/* ----------------------------------------------------------------
    Preloader Coding end
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
    typography
-----------------------------------------------------------------*/


body {
    font-family: 'Sailec';
    font-family: 'Avenir';
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
select::-ms-expand {
    display: none;
}


a:active,
a:focus { outline: none !important; }


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 600;
    line-height: 1.5;
    margin:0;
}

a {
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #323232;
}

a:hover, .btn, .btn:hover  {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


a img,
iframe { border: none !important; }


p {
    margin: 0;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Sailec';
}

p, li {
     font-family: 'Avenir';
    font-weight: 400;
    font-family: 'Sailec';
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
}


pre {
    display: block;
    padding: 10px;
    margin: 0 0 30px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
    border: 1px solid #EDEDED;
    border-radius: 0;
}

/* Go Scroll To Top */
.go-top{
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    display: none;
}
.go-top span {
  background-color: rgb(4, 40, 61);
  color: #008ad3;
  cursor: pointer;
  float: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 5px 10px;
}
.go-top span:hover{
    color: #fff;
}

img{
    max-width: 100%;
}






/* -------------------------------------
    start css style
-----------------------------------------*/


.header-area {
	padding: 30px;
}

.logo {
	padding-bottom: 10px;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.menu ul li{
    display: inline-block;
    padding-left: 45px;
}

.menu ul li a{
    font-size: 16px;
    line-height: 48px;
    color: #505455;
    font-weight: 400;
}



.hero-area{
    padding-top: 90px;
    padding-bottom: 150px;
}
.hero-area-inner{
    padding: 15px;
}


.hero-title h1{
    font-size: 60px;
    color: #141618;
    font-weight: 800;
    padding-bottom: 10px;
}

.hero-title p{
    font-size: 20px;
    color: #505455;
    font-weight: 300;
    padding-bottom: 20px;
    font-family: 'Sailec';
}


.hero-btn a{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    background: #f9886e;
    border: none;
    padding: 15px 40px;
    display: inline-block;
    font-family: 'Sailec';
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0px 3px 21px 0px rgba(249,136,110,0.75);
-webkit-box-shadow: 0px 3px 21px 0px rgba(249,136,110,0.75);
-moz-box-shadow: 0px 3px 21px 0px rgba(249,136,110,0.75);
}

.hero-btn a i.fa{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    padding-left: 30px;
}

.hero-img{
    padding-top: 50px;
}



.design-area{
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid #bcbbc1;
    border-bottom: 1px solid #bcbbc1;
}


.design-title h2{
    font-size: 50px;
    color: #141618;
    font-weight: 800;
    padding-bottom: 30px;
}

.design-title p{
    font-size: 20px;
    line-height: 32px;
    color: #505455;
    padding-bottom: 30px;
    font-weight: 400;
    font-family: 'Sailec';
}






.form-startup-area{
    padding-top: 100px;
    padding-bottom: 100px;
}


.form-startup-title h2{
    font-size: 50px;
    color: #141618;
    font-weight: 800;
    padding-bottom: 30px;
}

.form-startup-title p{
    font-size: 20px;
    line-height: 32px;
    color: #505455;
    font-weight: 400;
    padding-bottom: 30px;
}

.startup-link ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.startup-link ul li{
    display: block;
    padding: 5px;
}


.startup-link ul li a{
    font-size: 20px;
    line-height: 36px;
    color: #5f51ff;
    font-weight: 500;
}


.startup-btn a{
    font-size: 16px;
    color: #5f51ff;
    font-weight: 400;
    display: inline-block;
    margin-top: 20px;
    padding-left: 5px;
}

.startup-btn  a i.fa{
    font-size: 16px;
    color: #5f51ff;
    font-weight: 400;
    padding-left: 30px;
}




.review-area{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #efedff;
}

.review-content{
    text-align: center;
    position: relative;
}

.review-content::before {
	position: absolute;
	content: "\f10e";
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 20px;
	color: #5f51ff;
	left: 50%;
	top: -45px;
}

.review-content h3{
    font-size: 20px;
    color: #5f51ff;
    font-weight: 400;
    padding-bottom: 30px;
    line-height: 35px;
}


.review-content p{
    font-size: 16px;
    color: #5f51ff;
    font-weight: 300;
}




.work-with-area{
    padding-top: 160px;
    padding-bottom: 150px;
}

.work-title {
	padding-bottom: 80px;
}

.work-title h1{
    font-size: 50px;
    color: #141618;
    font-weight: 800;
    padding-bottom: 20px;
}


.work-title p{
    font-size: 20px;
    line-height: 32px;
    color: #505455;
    font-weight: 300;
    padding-bottom: 20px;
}

.single-clint-item{
     border: 1px solid #bcbbc1;
}


.single-clint-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
    height: 150px;
}



.contrac-form-area{
    padding-top: 150px;
    padding-bottom: 100px;
    background: #f7f7f7;
}


.clint-content h3{
    font-size: 28px;
    line-height: 45px;
    color: #505455;
    padding-bottom: 40px;
    font-weight: 300;
}

.clint-content p{
    font-size: 20px;
    line-height: 36px;
    color: #505455;
    font-weight: 300;
}


.clint-content h2{
    font-size: 36px;
    color: #141618;
    font-weight: 800;
    padding-bottom: 20px;
}


.contrac-form{
    max-width: 470px;
    margin: 0 auto;
}

.contrac-form h2{
    font-size: 36px;
    color: #141618;
    font-weight: 800;
    padding-bottom: 20px;
}

.contrac-form input.form-control{
    font-size: 16px;
    color: #bcbbc1;
    padding: 0 15px;
    background: #ffffff;
    border: none;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 300;
    font-family: 'Sailec';
}


.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.contrac-form textarea{
    font-size: 16px;
    color: #bcbbc1;
    padding: 0 15px;
    background: #ffffff;
    border: none;
    font-weight: 300;
    font-family: 'Sailec';
    resize: none;
}

.contrac-form a{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    background: #f9886e;
    border: none;
    padding: 15px 65px;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Sailec';
    font-weight: 500;
    box-shadow: 0px 3px 21px 0px rgba(249,136,110,0.75);
-webkit-box-shadow: 0px 3px 21px 0px rgba(249,136,110,0.75);
-moz-box-shadow: 0px 3px 21px 0px rgba(249,136,110,0.75);
}





.copy-right-area{
    padding-top: 80px;
    padding-bottom: 150px;
    background: #f7f7f7;
}

.copyright-bdr{
    border-top: 1px solid #bcbbc1;
}
.social-icon{
    padding-top: 50px;
}

.social-icon ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-icon ul li{
    display: inline-block;
     padding-right: 25px;
}

.social-icon ul li a{
    font-size: 25px;
    color: #bcbbc1;
}

.copy-right-text{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}


.left p{
    font-size: 16px;
    color: #bcbbc1;
    font-weight: 300;
}

.right p{
    font-size: 16px;
    color: #bcbbc1;
    font-weight: 300;
}









/****************mobilemenu***************/

.slicknav_menu {
    display: none;
}

.slicknav_nav {
    background: #eee;
}

.slicknav_nav a {
    text-transform: uppercase;
    line-height: 25px;
    margin: 10px 0;
    padding: 10px;
    color: #000;
}

.slicknav_nav a:hover {
    background-color: #5f51ff;;
    border-radius: 0;
    color: #fff;
}

.mobile_menu.visible-xs {
    position: relative;
}

.slicknav_menu {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0px 0;
    z-index: 1;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
    margin: 0;
}
.slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: #000;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #fff;
    margin-top: 0;
}

.slicknav_btn {
    background-color: #5f51ff;;
    color: #fff;
    margin: 0;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: -52px;
    border-radius: 0;
}

.slicknav_menu {
    background: transparent;
}

.slicknav_menu .slicknav_icon {
    float: none;
    height: auto;
    width: auto;
}

.slicknav_menu .slicknav_icon-bar {
    border-radius: 0!important;
    box-shadow: 0!important;
    display: block!important;
    height: 3px!important;
    width: 30px!important;
}


.slicknav_nav {
    padding-bottom: 15px;
}

.slicknav_nav li {
    display: block!important;
    padding: 0px 0!important;
    text-align: left;
}

.slicknav_nav li span.right {
    display: none;
}


.slicknav_nav ul {
    margin: 0;
}

.slicknav_menu {
    display: none;
    padding: 0;
}






/* Responsive Code */

@media only screen and (max-width:1199px) {
 

}


@media only screen and (max-width:991px) {
   .menu ul li {
        padding-left: 13px;
    }
    
    .design-title h2 {
        font-size: 30px;
        padding-top: 30px;
    }
    
    .design-title p {
        font-size: 16px;
    }

    .form-startup-title h2 {
        font-size: 30px;
    }

    .form-startup-title p {
        font-size: 16px;
    }
    .contrac-form h2 {
        font-size: 30px;
    }

    .clint-content h2 {
        font-size: 26px;
    }
    .clint-content h3 {
        font-size: 24px;
    }
    .clint-content p {
        font-size: 16px;
    }

    
    
}


@media only screen and (max-width:767px) {
    .slicknav_menu {
        display: block;
    }
    .menu{
        display: none;
    }
    .hero-title h1 {
        font-size: 45px;
    }
    .copy-right-text{
     flex-direction: column;
    }
   .left {
        padding-bottom: 10px;
    }
    .social-icon {
        text-align: center;
    }

    .form-startup-title h2 {
        font-size: 30px;
        padding-top: 28px;
    }    
    
    .contrac-form h2 {
        font-size: 32px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    

    .repeat-img {
        flex-direction: column-reverse;
	    text-align: center;
    }
    
    
}


@media only screen and (max-width:630px) {
  .form-startup-title h2 {
        font-size: 28px;
        padding-top: 40px;
    }
    

    
    
}


@media only screen and (max-width:576px) {
    .hero-title h1 {
        font-size: 28px;
    }
    .hero-title p {
        font-size: 15px;
    }
    .hero-btn a {
        font-size: 12px;
    }
    
    .hero-area {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .design-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }    

    .form-startup-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    
    .design-img {
        text-align: center;
        padding-bottom: 30px;
    }

    .work-with-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    
    .contrac-form-area {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .copy-right-area {
        padding-top: 20px;
        padding-bottom: 40px;
    }
     
    .left p {
            font-size: 13px;
    }
    .design-title h2 {
        font-size: 22px;
    }

    .form-startup-title h2 {
        font-size: 20px;
        padding-top: 20px;
    }


    .contrac-form h2 {
        font-size: 25px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
}



@media only screen and (max-width:360px) {
   .design-title h2 {
        font-size: 23px;
    }
    .work-title h1 {
        font-size: 40px;
    }
    .contrac-form h2 {
        font-size: 22px;
    }
   
    
}